/* CARD DEALS */
.player-profile {
    border: 1px solid var(--grey-01);
    padding: 15px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.card-list {
    display: flex;
    padding: 0;
    overflow-x: auto;
}

.card-list li {
    margin-right: -7rem;
    background-image: none;
}

.card-list li:first-child {
    padding-left: 0;
}

.b-game-card {
    width: 60px;
}

.player-img {
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

/* CARD HOVER EFFECT */
.b-game-card {
    position: relative;
    z-index: 1;
    display: inline-block;
    perspective: 1000px;
    transition: transform 0.3s ease;
    margin-bottom: 1rem;
}

.b-game-card__cover {
    position: relative;
    z-index: 1;
    display: block;
    height: 100%;
    overflow: hidden;
    background-image: linear-gradient(120deg, var(--blue-01) 25%, var(--light-blue-02) 100%);
    border-radius: 8px;
    background-size: cover;
    perspective-origin: 50% 50%;
    transform-style: preserve-3d;
    transform-origin: top center;
    will-change: transform;
    transform: skewX(0.5deg);
    transition: transform 0.35s ease-in-out;
}
  
  .b-game-card__cover::after {
    display: block;
    content: '';
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    border-radius: 8px;
    background: linear-gradient(226deg, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.4) 35%, rgba(255,255,255,0.2) 42%, rgba(255,255,255,0) 60%);
    transform: translateY(-20%);
    will-change: transform;
    transition: transform 0.65s cubic-bezier(0.18, 0.9, 0.58, 1);
  }
  
  .b-game-card:hover .b-game-card__cover {
    transform: rotateX(7deg) translateY(-6px);
  }
  
  .b-game-card:hover .b-game-card__cover::after {
    transform: translateY(0%);
  }
  
  .b-game-card::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: var(--grey-02);
    box-shadow: 0 6px 12px 12px var(--grey-02); 
    will-change: opacity;
    transform-origin: top center;
    transform: skewX(0.001deg);
    transition: transform 0.35s ease-in-out, opacity 0.5s ease-in-out;
  }
  
  .b-game-card:hover::before {
    opacity: 0.6;
    transform: rotateX(7deg) translateY(-6px) scale(1.05);
  }

  @media (min-width: 767px) { 

    .b-game-card {
        width: 150px;
    }

} 