@import url(./meyerweb-css-reset.css);
@import url(./base-styles.css);

.flex {
    display: flex;
    gap: 2rem;
}

.axsblty {
    clip: rect(1px,1px,1px,1px);
    border: 0 !important;
    height: 1px !important;
    overflow: hidden;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}

/* HEADER */
header {
    width: 100%;
    top: 0;
    position: sticky;
    z-index: 100;
    border-bottom: 1px solid var(--grey-01);
    justify-content: flex-start;
    background-color: var(--white-primary);
    padding-top: 1.75rem;
}

/* BUTTONS */

button {
    font-family: var(--heading-font-bold);
    padding: 0.75rem 2.75rem;
    border-style: none;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.5s;
}

.btn-main {
    font-size: 1.5rem;
    background-color: var(--light-blue-02);
}

.wrapper-hero-btn {
    justify-content: center;
    align-items: center;
    grid-area: 4 / 1 / 4 / -1 ;
}

/* MAIN BODY */

.wrapper-body {
    max-width: 1000px;
    margin: 0 auto; /* Centers the body */
    box-sizing: border-box;
    overflow-x: hidden;
    padding: 0 1rem;
}

main {
    width: 100%;
    margin: 2rem 0 1rem;
}

p, h1, h2, h3, h4, h5, h6 {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font-bold);
    letter-spacing: 0.1em;
    margin-bottom: 1rem;
}

h1 {
    font-size: 1.5rem;
    line-height: calc(1.5rem + 4px);
}

h2 {
    font-size: 1.25rem;
    line-height: calc(1.25rem + 4px);
}

h3 {
    font-size: 1.325rem;
    line-height: calc(1.325rem + 4px);
}

h4 {
    font-size: 1.25rem;
    line-height: calc(1.25rem + 4px);
}

h5 {
    font-size: 1.15rem;
    line-height: calc(1.15rem + 4px);
}

h6 {
    font-size: 1rem;
    line-height: calc(1rem + 4px);
}

p {
    font-size: 1.25rem;
    line-height: calc(1.25rem + 4px);
    margin-bottom: 0.625rem;
    letter-spacing: 0.125em;
}

section {
    margin-bottom: 4rem;
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto; /* Add auto rows to accommodate multiple rows */
    gap: 1rem;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    opacity: 78%;
}

.txt-blue {
    color: var(--blue-01);
    font-family: var(--main-font-medium);
}

.wrapper-article {
    border: 1px solid var(--grey-01);
    border-radius: 8px;
    padding: 1.75rem 1rem 1rem;
}

li {
    font-family: var(--secondary-font-regular);
    font-size: 1rem;
    line-height: calc(1rem + 4px);
    margin: 1rem 0 1rem 1rem;
    padding: 0.5rem 1rem 0.5rem 3rem;
    background-repeat: no-repeat;
    background-image: url(../assets/images/circle-ok.svg);
    background-position: left 0.5rem top 0.5rem;
}

article li:last-child {
    margin-bottom: 0;
}

#wrapper-non-array {
    grid-area: 1 / 1 / 1 / -1;
}

#wrapper-wrong-array-data {
    grid-area: 2 / 1 / 2 / -1; 
}

.target-found, .error {
    border: 1px solid var(--blue-01);
    background-color: var(--light-blue-01);
    border-radius: 8px;
    background-image: url(../assets/images/thumb-up.svg);
    background-position: left 0.5rem top 0.5rem;
}

.error {
    border: 1px solid red;
    background-color: rgba(255, 0, 0, 0.15);
    background-image: url(../assets/images/thumb-down.svg);
}

.ul-section {
    padding-top: 0.5rem;
    border-top: 1px solid var(--orange-01);
}

/* CARD DEALS */
.player-profile {
    border: 1px solid var(--grey-01);
    padding: 15px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.card-list {
    display: flex;
    padding: 0;
    overflow-x: auto;
}

.card-list li {
    margin-right: -7rem;
    background-image: none;
}

.b-game-card {
    width: 75px;
}

.player-img {
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

/* CARD HOVER EFFECT */
.b-game-card {
    position: relative;
    z-index: 1;
    display: inline-block; /* Change to inline-block */
    perspective: 1000px;
    transition: transform 0.3s ease;
    margin-bottom: 1rem;
}

.b-game-card__cover {
    position: relative; /* Change to relative */
    z-index: 1;
    display: block; /* Add this */
    height: 100%;
    overflow: hidden;
    background-image: linear-gradient(120deg, var(--blue-01) 25%, var(--light-blue-02) 100%);
    border-radius: 8px;
    background-size: cover;
    perspective-origin: 50% 50%;
    transform-style: preserve-3d;
    transform-origin: top center;
    will-change: transform;
    transform: skewX(0.5deg);
    transition: transform 0.35s ease-in-out;
}
  
  .b-game-card__cover::after {
    display: block;
    content: '';
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    border-radius: 8px;
    background: linear-gradient(226deg, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.4) 35%, rgba(255,255,255,0.2) 42%, rgba(255,255,255,0) 60%);
    transform: translateY(-20%);
    will-change: transform;
    transition: transform 0.65s cubic-bezier(0.18, 0.9, 0.58, 1);
  }
  
  .b-game-card:hover .b-game-card__cover {
    transform: rotateX(7deg) translateY(-6px);
  }
  
  .b-game-card:hover .b-game-card__cover::after {
    transform: translateY(0%);
  }
  
  .b-game-card::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.5);  /* Assuming $c_0 is black */
    box-shadow: 0 6px 12px 12px rgba(0, 0, 0, 0.4);  /* Assuming $c_0 is black */
    will-change: opacity;
    transform-origin: top center;
    transform: skewX(0.001deg);
    transition: transform 0.35s ease-in-out, opacity 0.5s ease-in-out;
  }
  
  .b-game-card:hover::before {
    opacity: 0.6;
    transform: rotateX(7deg) translateY(-6px) scale(1.05);
  }


@media (min-width: 767px) { 
    /* BUTTONS */
     header {
        margin: 0 1rem;
     }
 
     /* MAIN BODY */
     main {
        margin: 4rem 0;
    }

    h1 {
        font-size: 1.75rem;
        line-height: calc(1.75rem + 4px);
    }
    
    h2 {
        font-size: 1.675rem;
        line-height: calc(1.675rem + 4px);
    }
    
    h3 {
        font-size: 1.5rem;
        line-height: calc(1.5rem + 4px);
    }
    
    h4 {
        font-size: 1.325rem;
        line-height: calc(1.325rem + 4px);
    }
    
    h5 {
        font-size: 1.25rem;
        line-height: calc(1.25rem + 4px);
    }

    #wrapper-non-array {
        grid-area: 1 / 1 / 1 / 5;
    }

    #wrapper-wrong-array-data {
        grid-area: 1 / 5 / 1 / -1; 
    }

    .card-list li {
        margin-right: -6rem;
    }

    .b-game-card {
        width: 150px;
    }

}

@media (min-width: 992px) {
    /* BUTTONS */
    header {
        margin: 0 1rem;
     }

    /* MAIN BODY */
    main {
        margin: 6rem 0;
    }

    h1 {
        font-size: 2rem;
        line-height: calc(2rem + 4px);
    }
    
    h2 {
        font-size: 1.75rem;
        line-height: calc(1.75rem + 4px);
    }
    
    h3 {
        font-size: 1.5rem;
        line-height: calc(1.5rem + 4px);
    }

    h4 {
        font-size: 1.425rem;
        line-height: calc(1.425rem + 4px);
    }
    
    h5 {
        font-size: 1.325rem;
        line-height: calc(1.325rem + 4px);
    }

    #wrapper-non-array {
        grid-area: 1 / 1 / 1 / 7;
    }

    #wrapper-wrong-array-data {
        grid-area: 1 / 7 / 1 / -1; 
    }

}